In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
datasets_df = pd.read_csv('data/DataSummary.csv')

In [5]:
df_names = ['FaceFour', 'ChlorineConcentration', 'WordSynonyms', 'Phoneme', 'ElectricDevices']
df_name = df_names[0]
df = pd.read_table(f'data/UCRArchive_2018/{df_name}/{df_name}_TRAIN.tsv', header=None)
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,341,342,343,344,345,346,347,348,349,350
count,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,...,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000
mean,2.208333,2.430645,2.070530,1.851368,1.503907,1.190691,0.969649,0.589316,0.509972,0.342483,...,-0.422443,-0.409290,-0.403731,-0.190692,0.392315,1.021131,1.336957,2.137243,2.202803,2.624598
std,1.141287,0.595471,0.774206,0.698964,0.773207,0.724874,0.832180,0.832872,0.932425,1.112166,...,1.361342,1.358779,1.177009,1.235702,1.190112,1.476898,1.282005,1.266464,1.271610,1.046807
min,1.000000,0.932723,0.188265,0.188265,-0.329637,-0.329637,-0.591074,-0.591074,-0.591074,-0.396364,...,-2.000760,-2.000760,-2.644719,-2.644719,-1.633587,-1.633587,-0.742576,0.273456,0.273456,0.999235
25%,1.000000,2.168107,1.903075,1.589312,1.060261,0.680015,0.428025,0.177896,-0.253740,-0.291065,...,-1.285152,-1.337099,-1.286843,-1.105840,-0.486614,0.223649,0.669501,1.392641,1.392641,2.121334
50%,2.000000,2.464945,2.113540,1.980128,1.679690,1.327619,0.981915,0.448831,0.348227,-0.222867,...,-0.950329,-0.955089,-0.191720,-0.148809,0.642754,1.190059,1.424679,2.150805,2.206022,2.543924
75%,3.000000,2.844695,2.557865,2.149786,1.920239,1.568305,1.465371,0.887144,0.864570,0.254779,...,-0.264335,0.084613,0.084613,0.534868,1.001482,1.779080,2.019519,2.503359,2.596419,2.897558
max,4.000000,3.510676,3.244086,3.244086,2.869523,2.869523,2.816283,2.816283,2.753452,3.008442,...,2.611970,3.006997,3.006997,3.006997,3.006997,4.784010,4.784010,5.908128,5.908128,5.908128

In [40]:
# datasets_df = pd.read_csv('data/DataSummary.csv')
# datasets_df.loc[datasets_df['Name'] == 'FaceFour'].iloc[:, 7].values[0]

df_names = ['FaceFour', 'EthanolLevel', 'ChlorineConcentration', 'Phoneme', 'ShapesAll', 'TwoPatterns', 'InsectWingbeatSound']

df_names = ['WordSynonyms', 'ChlorineConcentration', 'ShapesAll', 'EthanolLevel', 'FordA']
new_df = datasets_df.loc[datasets_df['Name'].isin(df_names)].set_index('Name')
new_df.loc[df_names].reset_index().drop(columns=['ID'])

,Name,Type,Train,Test,Class,Length,ED (w=0),DTW (learned_w),DTW (w=100),Default rate,Data donor/editor
0,WordSynonyms,Image,267,638,25,270,0.3824,0.2618 (9),0.3511,0.7806,T. Rath & R. Manmatha
1,ChlorineConcentration,Sensor,467,3840,3,166,0.3500,0.3500 (0),0.3516,0.4674,L. Li & C. Faloutsos
2,ShapesAll,Image,600,600,60,512,0.2483,0.1980 (4),0.2317,0.9833,J. Hills & A. Bagnall
3,EthanolLevel,Spectro,504,500,4,1751,0.7260,0.7180 (1),0.7240,0.7480,A. Bagnall
4,FordA,Sensor,3601,1320,2,500,0.3348,0.3091 (1),0.4455,0.4841,A. Bagnall